= form_tag user_sessions_path, :method => :post do
  .form-group
    = label_tag :name
    = text_field_tag :name, '', class: "form-control", placeholder: 'あけぼの太郎'
  .form-group
    = label_tag :password
    = password_field_tag :password, '', class: "form-control", placeholder: ' ４文字以上で'
    %br
    .form-check
    = check_box_tag :remember, params[:remember], true
    = label_tag :remember

  .actions
    = button_tag 'Login', type: 'submit', class: "btn btn-primary"
