!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LoveYou
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'share/header'
    %div{style: 'margin-top: 50px;'}
      - flash.each do |key, value|
        - key = "info" if key == "notice"
        - key = "danger"  if key == "alert"
        = content_tag :div, value, class: "alert alert-#{key}"
      = yield
